
/*Footer*/


/*Cadre du Footer PARENT
-Fond gris 
-Hauteur 
-marge extérieurs du dessus pour faire l'espace avec section activité 
-Flex pour les aligner en hoirizontale 
-Etirement sur tout la longeur avec de l'espace entre eux*/
.cadrefooter
{
	background-color:#F2F2F2;
	height: 200px;
	width: 100%;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
}

/*Sous Cadre footer 
-Hauteur
-largeur 30% (pour le petit décalage)
-Marge*/

.sousblocfooter
{
	height: 150px;
	width: 45%;
	margin-left: 5%;
	margin-bottom: 10px;
	padding: 10px;
	margin-left: 15px;
}
.lienfooter:hover
{
	text-decoration:underline ;
}

/*Responsive */
@media screen and ( max-width: 880px )/*correction pour plus petits ecrans */
{
	.cadrefooter
	{
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		width: auto;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-top: 30px;	
	}
	.sousblocfooter
	{
		width: auto;
	}
	.margfooterresp
	{
		margin-top: -30px;
	}
}