/*couleur maquette----
-----
------------------------------------>
 ----------------------------*/
.colorbleu
{
	color: #0065FC;
}	

.colorbleuclair
{
	color: #deebff;
}	

.colorgrise
{
	color: #f2f2f2;
}	

/*Ajout de la police à tout le contenu de la page et marges intérieures et extérieures----------------------------*/

body, html,#bloc_page
{
	font-family: Raleway-Regular, Arial, Arial;
	margin: 0;
	padding: 0;
}
 
/*LES blocs  */


/* Bloc parent espacement des 3 liens et du logo  */
.sousbloc1
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* taille du bloc nav */
.navbloctaille
{
	height: auto;
}


/*flex box pour le Bloc des 3 liens ;
centrer avec le logo---*/
.blocliens
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/*Largeur  Bloc du logo et des 3 liens ;
centrer avec le logo---*/
.taillebloclien
{
	width: 100%;
}
/* sous bloc ( bloc de chaque lien )  */
.sousbloclien
{
	width: 140px;
	height: 99px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Bloc Herbergement + activites pour faire le responsive  */
.blochebergact
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 60%;
}

/*Taille png logo */
.logo
{
	width: 120px;
	height: 50px;
	margin: 10px;
}

/*Bordure top bleu hebergement*/
.bordertop
{
	border-top: 3px solid #0065FC;
}



/*Ajout couleur black a "Activités"*/
.colorlienBlack
{
	color: black;
}

/*Lien "Activité"" bordur survol souris bleu*/
.hover1:hover
{
    border-top: 3px solid #0065FC;
}

/*Bordure top et couleur bleu bleu s'inscrire*/
.bordertoptransp
{
	border-top:3px solid transparent;
}

/*Lien "Activité"" ecriture bleu au survol souris */
.hovercolor1:hover
{
	color: #0065FC;
}

/*Lien "s'inscrire" ecriture bleufoncé au survol souris */
.hovercolor2:hover
{
	color: #0065FC;
	font-weight: bold;
}

/*couleur "bleu" sur lien herbergement et s'inscrire*/
.colorlien
{
	color: #0065FC;
}


/*desactivation de la decoration des liens ( soulignement) */
a
{
	text-decoration: none;
}

/*Responsive  */
@media screen and (min-width: 1290px) /* breackpoint pour correction pour plus petits ecrans  */
{
	
	.navbloctaille
	{
		width: 100%;
	}
	.blochebergact
	{
		margin-left:auto;
	}

}	

@media screen and (max-width: 1290px) /* breackpoint pour correction pour plus petits ecrans  */
{
	/*Bloc Navigation Herg-Act */
	.blochebergact
	{
		margin-left: 35%;
		margin-left: auto;
	}
	
}	


@media screen and ( max-width: 880px ) /* breackpoint pour correction pour plus petits ecrans */
{
	.navbloctaille/*Barre de navigation ajustement largeur  */
	{
		width: 90%; /*Barre de navigation ajustement largeur  */
	}

	.blochebergact
	{
		margin-left: 20%; /* Marges extérieures de 20% remises  */
	}
}

@media screen and (max-width: 600px) /* "Responsive sur les plus petits écrans " */
{
	.blochebergact
	{
		order: 1; /* Order pour changer l'order des deux sous bloc (herge+act) et (s'inscrire ) */
		width: 100%;/* largeur de 100% pour le sous bloc (herg+acti) */
		margin-left: 0;/* plus de marge a gauche  */
	}
	.blocnavmobile
	{
		width: 50%; /* Ajustement de la largeur a 50% di bloc parent */
		
	}
	.sousbloc1 /* Sous bloc 1 ( logo + heber+acti+s'inscrire) largeur 100% flex row pour aligement horizontalement  */
	{
		width: 100%; /* largeur 100% flex row pour aligement horizontalement */
		flex-direction: row; /* flex row pour aligement horizontalement */
		flex-wrap: wrap; /* flex wrap pour qu'il y ai un retour a la ligne  */
	}
	.blocnavmobile :hover /* ajout d'une classe pour le survole de l'element (bloc nav) par l'utilisateur  */
	{
		border-top: 0; /* suppression de bordure top pour le survole de l'element par l'utilisateur */
	}
	.hover1:hover /*modifications pour le survole du bloc (Activitees) par l'utilisateur  */
	{
		border-bottom:3px solid #0065FC ;/* ajout de bordure basse pour le survole de l'element par l'utilisateur  */
		border-top: 0;/* suppression de bordure top pour le survole de l'element par l'utilisateur  */
	}
	.bordertop/* "Remplacement de la barre bleu en bas " */
	{
		border-top: 0; /* suppression de bordure top pour le survole de l'element par l'utilisateur  */
		border-bottom: 3px solid #0065FC;/* ajout de bordure basse pour le survole de l'element par l'utilisateur  */
	}
}