/* Sectetion  HEBERGEMENT + Les plus populaires
- alignement les uns à la suite 
- etirement des sous "bloc 1 et 2" sur la longeur avec de lespace entre eux 
et extrémitées
-alignement au centre   */
.contenair
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* HEBERGEMENT 
-flex multiple x2 par rapport a "populaire"
- hauteur 650px  
-margin right pour avoir de l'espace entre nos deux bloc
- border radius pour arrondir les bords
-Fond gris */
.Sizehebergement
{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    background-color:#F2F2F2 ;

}
/* Popoulaire  
-flex initial par rapport a "hebergement"
- hauteur 650px  
-margin left " gauche pour avoir de l'espace entre nos deux bloc
- border radius pour arrondir les bords
-Fond gris */
.Sizepopulaire
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    background-color:#F2F2F2 ;
}

/* Image HEBERGEMENT "element 1"
-fond en image avec ajout de l'url de l'image 
- taille de l'image par rapport à  son element 
-centrer l'image 
-bordur de l'image sur les cotés
-largeur à 100%
-Hauteur de 120px */
.imghebergement1
{
   background-image:url("images/hebergements/4_small/cannebière.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 120px;
}

/* Image HEBERGEMENT "element 2"
-fond en image avec ajout de l'url de l'image 
- taille de l'image par rapport à  son element 
-centrer l'image 
-bordur de l'image sur les cotés
-largeur à 100%
-Hauteur de 120px */
.imghebergement2
{
   background-image:url("images/hebergements/4_small/port.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 120px;
}

/* Image HEBERGEMENT "element 3"
-fond en image avec ajout de l'url de l'image 
- taille de l'image par rapport à  son element 
-centrer l'image 
-bordur de l'image sur les cotés
-largeur à 100%
-Hauteur de 120px */
.imghebergement3
{
   background-image:url("images/hebergements/4_small/mouettes.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 120px;
}

/* Image HEBERGEMENT "element 4"
-fond en image avec ajout de l'url de l'image 
- taille de l'image par rapport à  son element 
-centrer l'image 
-bordur de l'image sur les cotés
-largeur à 100%
-Hauteur de 120px */
.imghebergement4
{
   background-image:url("images/hebergements/4_small/mer.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 120px;
}

/* Image HEBERGEMENT "element 5"
-fond en image avec ajout de l'url de l'image 
- taille de l'image par rapport à  son element 
-centrer l'image 
-bordur de l'image sur les cotés
-largeur à 100%
-Hauteur de 120px */
.imghebergement5
{
   background-image:url("images/hebergements/4_small/panier.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 120px;
}


/* Image HEBERGEMENT "element 6"
-fond en image avec ajout de l'url de l'image 
- taille de l'image par rapport à  son element 
-centrer l'image 
-bordur de l'image sur les cotés
-largeur à 100%
-Hauteur de 120px */
.imghebergement6
{
   background-image:url("images/hebergements/4_small/amina.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 120px;
}

/* Bloc "HEBERGEMENT" 
- Marges "interieures" sur les bords des photos 
- flex en colonnes 
- etirement sur tte la longeure et espace entres eux + extrémitées
*/
.blochebergement
{
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/* Sousbloc1
- espace des ligne 1  
- etirement sur toute la longeur avec del'espace entres eux 
- centrer les lignes 1
- marges intérieures du bas ( pour espacer les deux lignes"sousoubloc 1 + 2)
*/
.sousbloc1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Sousbloc2
- espace des ligne 2
- etirement sur toute la longeur avec del'espace entres eux 
- centrer les lignes 2
*/
.sousbloc2
{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;  
}

/* Petit Cadre "photo"
- Largeur de son parent "sousbloc"
- Hauteur automatique "pour pas que ca depasse "
-cadre de fond blanc 
-espace marge intérieur 1%
- bord arrondis
-flex en clonne 
- center le cadre dans le contenair hebergement 
- alignement sur l'axe secondaire 
*/
.smallcadre
{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*TEXTE DESCRIPTION photos dans smallcadre Hebergement
-largeur de 90% du cadre  */
.textsmallhebergement
{
    width: 90%;
}
/*texte en gras */
.textefoncé
{
    font-weight: bold;
}

